
/* global css style */

 /* * 
   css styling for global animation */
 .text_animation_container{
    position: relative;
    width: 100%;
    overflow: hidden;
 }
 .set_text > p,
 .set_text > h1,
 .set_text > h2,
 .set_text > h3,
 .set_text > h4,
 .set_text > h5{
    position: absolute;
    top: 100%;
 }
 .animate_text > p,
 .animate_text > h1,
 .animate_text > h2,
 .animate_text > h3,
 .animate_text > h4,
 .animate_text > h5{
    position: absolute;
    top: 0;
    transition: top .25s  ease-out ;
 }

 .animation_div_container{
    position: relative;
    transition: all .5s ease-out;
 }
 /* * 
  end of css styling for global animation */


 /* * 
    css styling for active nav list */
 .active_nav_list{
    border-radius: 40px;
    background-color: rgba(41, 41, 41, 1);
}
.toggle_color .active_nav_list{
    background-color: lightgray;
}
/* end of css styling for active nav list */



 /* *
  css styling for global border image style */
 .featured_projects .wrapper .featured_projects_box .text .product_index,
 .toggle_btn_responsive_nav,
.menue_lists_wrapper,
.button_component{
    position: relative;
    border: 1px solid transparent;
    border-radius: 40px;
    background: var(--regular-color);
    background-clip: padding-box;
}
.toggle_color .featured_projects .wrapper .featured_projects_box .text .product_index,
.toggle_color .toggle_btn_responsive_nav,
.toggle_color .menue_lists_wrapper,
.toggle_color .button_component{
    background-color: #fff;
}
.featured_projects .wrapper .featured_projects_box .text .product_index::after,
.toggle_btn_responsive_nav::after,
.menue_lists_wrapper::after,
.button_component::after{
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    background: linear-gradient(240deg,  var(--primary-color), var(--secondary-color));
    content: ' ';
    z-index: -1;
    border-radius: inherit;
}
/* end of global css  style */



/* *
    css styles for header component*/
    .header_container{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        transition: all .5s ease-in-out;
    }
    .header_container .header_wrapper {
        display: flex;
        align-items: center;
        grid-column-gap: 20px;
        min-height: inherit;
    }
    .header_logo_container{
        width: 100px;
        height: 70px;
        background-image: url("../assest//henry\'slogo_light.svg");
        background-repeat: no-repeat;
        background-size: 80px;
        background-position-x: start;
        background-position-y: center;
        cursor: pointer;
    }
    .toggle_color .header_logo_container{
      background-image: url("../assest//henry\'slogo_dark.svg");
    }
 /* end of css styly for header component*/



/* *
  button component css styles
 */
.button_component{
    font-size: 13px;
    max-width: 180px;
    padding-block: 12px;
    padding-inline: 12px;
    transform-origin: center;
    transition: all .25s cubic-bezier(0.05, 0.76, 0.47, 1.45);
    -o-transition: all .25s cubic-bezier(0.05, 0.76, 0.47, 1.45);
    -moz-transition: all .25s cubic-bezier(0.05, 0.76, 0.47, 1.45);
    -webkit-transition: all .25s cubic-bezier(0.05, 0.76, 0.47, 1.45);
}
.button_component:hover {
    opacity: .9;
}
.button_component:active{
    transform: scale(50%) ;
}
/*  end of button component css styles
 */


 /* 
    css style for nav compontent
 */
.header_main_menue{
    flex: 1 0;
    display: flex;
}
.header_main_menue .desk_top_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 20px;
    width: 100%;
    height: 100%;
}
.menue_list_container{
    flex: 1 0;
    display: flex;
    justify-content: center;
}
.menue_lists_wrapper{
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 30px;
    padding-block: 2px;
}
.menue_lists_wrapper li{
    font-size: 13px;
    flex-shrink: 0;
    list-style: none;
    padding-inline: 12px;
    padding-block: 5px;
    transition: all .25s ease;
    cursor: pointer;
}
.menue_lists_wrapper .home{
    width: 50px;
    height: 40px;
    background-image: url("../assest//homeicon_white.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.toggle_color .menue_lists_wrapper .home{
    background-image: url("../assest//homeicon_black.svg");
}
.header_menue_bnt_wrapper{
    display: flex;
    justify-content: flex-end;
    grid-column-gap: 15px;
}
.toggle_btn{
    position: relative;
    width: 45px;
    height: 25px;
    border-radius: 40px;
    background-color: #fff;
    cursor: pointer;
}
.toggle_btn .toggle{
    position: absolute;
    top: 50;
    left: 5%;
    transform: translatey(-50%);
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-image: linear-gradient(240deg, var(--primary-color), var(--secondary-color));
    transition: all .25s cubic-bezier(0.42, 0, 0.46, 1.42);
    cursor: pointer;
}
.header_main_menue .toggle_btn_responsive_nav{
    display: none;
}
.header_main_menue .responsive_nav{
    display: none;
}
/* end of nav compontent */


/* *
    css style for hero courosle slides */
 .slide_content{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 30px;
 }
 .slide_content p{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
 }
 .slide_content img{
    height: 20px;
    object-fit: contain;
 }
 /* end of css style for hero courosel slides */



 /* *
  css style for services componnet */
  .my_services .wrapper .box{
    width: 300px;
    height: 250px;
  }
  /* end of css style for service component */


 /* *
    css style for development process component*/
 .my_design_and_development_process .wrapper{
    width: 100%;
    height: auto;
    padding-left: 20px;
   }
   .my_design_and_development_process .wrapper .box{
    position: relative;
    height: auto;
    width: auto;
    max-width: 500px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 60px;
    border-left: 1px solid #fff;
   }
   .toggle_color .my_design_and_development_process .wrapper .box{
    border-left-color: var(--regular-color);
   }
 .toggle_color .box_index_number_wrapper .number{
    color: #333;
    border-color: var(--regular-color);
   }
   .my_design_and_development_process .wrapper .box .box_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 20px;
   }
   .my_design_and_development_process .wrapper .box .box_content img{
    height: 40px;
    object-fit: contain;
   }
   /* end of css for development process component */


   /* *
    css style for featured projects component */
   .featured_projects .wrapper{
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
    width: 100%;
    height: auto;
   }
   .featured_projects .wrapper .featured_projects_box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    width:  100%;
    height: auto;
    padding: 25px;
    background-color: rgba(16, 17, 17, 1);
    border-radius: 10px;
    z-index: 1;
   }
   .toggle_color .featured_projects .wrapper .featured_projects_box{
    background-color: rgb(236, 236, 236);
   }
   .featured_projects .wrapper .featured_projects_box .image{
    width: 100%;
    border-radius: 30px;
    background-color: white;
    box-shadow: -5px 5px 10px rgba(120, 120, 120, 0.5);
   }
   .toggle_color .featured_projects .wrapper .featured_projects_box .image{
        border: 5px solid var(--regular-color);
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
   }
   .featured_projects .wrapper .featured_projects_box .image.desk_top{
     height: 500px;
     border: 8px solid silver;
   }
   .featured_projects .wrapper .featured_projects_box .image.mobile{
        max-width: 480px;
        height: 600px;
        border: 5px solid silver;
   }
   .featured_projects .wrapper .featured_projects_box .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-gap: 15px;
    width: 100%;
    min-width: 280px;
    max-width: 480px;
   }
   .featured_projects .wrapper .featured_projects_box .text .product_index{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    max-width: 40px;
    max-height: 40px;
    padding: 20px;
    background-color: rgba(16, 17, 17, 1);
   }
   .toggle_color .featured_projects .wrapper .featured_projects_box .text .product_index{
    color: #333;
    background-color: rgb(236, 236, 236);
    
   }
/* end of css style for feature project component */


/* *  
 css style for testimonial component*/
   .testimonial .wrapper .testimonial_box{
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    min-height: 220px;
    max-height: 300px;
    position: relative;
    padding: 15px;
    border: 1px solid transparent;
    background: var(--regular-color);
    background-clip: padding-box;
    border-radius: 20px;
   }
   .toggle_color  .testimonial .wrapper .testimonial_box{
    background-color: #fff;
   }
   .testimonial .wrapper .testimonial_box::after{
    position: absolute;
      top: -1px;
      right: -1px;
      left: -1px;
      bottom: -1px;
      content: '';
      background: linear-gradient(140deg,  var(--primary-color), var(--secondary-color),  var(--regular-color), var(--regular-color), var(--regular-color), var(--regular-color));
      border-radius: inherit;
      z-index: -1;
   }
    .toggle_color .testimonial .wrapper .testimonial_box::after{
      background: linear-gradient(140deg,  var(--primary-color), var(--secondary-color),  #fff, #fff, #fff, #fff);
      border-radius: inherit;
   }
   .testimonial .wrapper .testimonial_box .first_div{
    flex: 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .testimonial .wrapper .testimonial_box .first_div .testimonial_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .testimonial .wrapper .testimonial_box .first_div .profile_info{
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap:  5px;
    padding-left: 10px;
  }
  .testimonial .wrapper .testimonial_box .first_div .testimonial_icon{
    height: 25px;
    object-fit: cover;
  }
  .testimonial .wrapper .testimonial_box .second_div{
    flex: 1 0;
  }
 /* end of css style for testimonial component */




 /* * 
   css style for contact form component */
   .home_contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 40px;
    width: 100%;
    max-width: 600px;
    height: auto;
   }
   .home_contact_form >div{
    display: flex;
    grid-column-gap: 20px;
    width: 90%;
    height: inherit;
   } 
   .home_contact_form >div label{
    font-size: 16px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color) );
    border-image-slice: 1;
    padding-left: 5px;
   } 
   .home_contact_form >div input,
   .home_contact_form >div textarea{
    flex: 1 0;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color) );
    border-image-slice: 1;
    padding: 2px 2px 2px 5px;
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
   }
   .home_contact_form >div textarea::-webkit-scrollbar{
    display: none;
   }
   .home_contact_form .form_btn_wrapper{
    display: flex;
    justify-content: flex-end;
   }
    
/* end of css style for contact form component */


/* *
    css style for google map componnent */
    .home_google_map{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        min-width: 280px;
        min-height: 340px;
    }
    .home_google_map::after{
        position: absolute;
        right: 4%;
        bottom: 3%;
        content: ' ';
        width: 75%;
        height: 90%;
        background: url("../assest//googlemap.png");
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid lightblue;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.24);
        z-index: -1;
    }
    .home_google_map iframe{
        position: relative;
        width: 75%;
        height: 90%;
        border: 2px solid lightblue;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.24); 
    }
    .toggle_color .home_google_map a iframe,
    .home_google_map::after{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    }

    /* end of css google map componnent */


    

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024.9px){
  
}

/*low resolution tablets, mobiles (portrait)*/
@media (min-width: 481px) and (max-width: 767.99px){
    .featured_projects .wrapper .featured_projects_box .image.desk_top{
        height: 600px;
      }
}

/*low resolution tablets, mobiles (portrait) for navigation*/
@media (min-width: 0px) and (max-width: 767.99px){
    .header_main_menue{
        justify-content: flex-end;
    }
    .header_main_menue .desk_top_nav{
        display: none;
    }
    .header_main_menue .toggle_btn_responsive_nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 40px;
        cursor: pointer;
    }
    .toggle_btn_responsive_nav .toggle_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 85%;
        border-radius: 40px;
        background-color: rgba(41, 41, 41, 1);
    }
    .toggle_color .toggle_btn_responsive_nav .toggle_wrapper{
        background-color: lightgray;
    }
    .toggle_btn_responsive_nav .toggle_wrapper span{
        display: block;
        position: relative;
        height: 11%;
        transform: translate(-50%);
        transition: all .25s ease;
        border-radius: 40px;
        background-color: #fff;
    }
    .toggle_color .toggle_btn_responsive_nav .toggle_wrapper span{
        background-color: var(--regular-color);
    }
    .toggle_btn_responsive_nav .toggle_wrapper .short_hand{
        width: 15.25%;
    }
    .toggle_btn_responsive_nav .toggle_wrapper .short_hand.left{
        left: -1%;
        top: -5%;
    }
    .toggle_btn_responsive_nav .toggle_wrapper .short_hand.right{
        right: -20%;
        bottom: -5%;
    }
    .toggle_btn_responsive_nav .toggle_wrapper #long_hand{
        top: 0;
        left: 20%;
        width: 35%;
    }

    /** 
        onclick using js restyle toggle btn  and responsive nav */
    .toggle_btn_responsive_nav.toggle .toggle_wrapper #long_hand{
        transform-origin: center;
        transform: rotate(-45deg);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .toggle_btn_responsive_nav.toggle .toggle_wrapper .short_hand.left{
        transform-origin: top;
        transform: rotate(45deg);
        top: 0;
        left: -5%;
    }
    .toggle_btn_responsive_nav.toggle .toggle_wrapper .short_hand.right{
        transform-origin: bottom;
        transform: rotate(45deg);
        right: -7%;
        bottom: 0%;
    }
    .header_main_menue .responsive_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row-gap: 50px;
        position: fixed;
        left: 0;
        bottom: -100%;
        width: 50%;
        height: 100%;
        transition: all .5s linear;
        background-color: var(--regular-color);
        z-index: 100;
    }
    .toggle_color  .header_main_menue .responsive_nav{
        background-color: #fff;
    }
    .menue_list_container{
        flex: .8 0;
    }
    .menue_list_container .menue_lists_wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row-gap: 50px;
        padding: 0  20px;
    }
    .menue_list_container .menue_lists_wrapper li{
        font-size: 14px;
    }
    .header_menue_bnt_wrapper{
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        flex-direction: column;
    }
    .button_component{
        font-size: 14px;
    }
    /* end of  onclick using js restyle toggle btn and responsive nav */

}

/*smartphones mobiles (portrait)*/
@media (min-width: 0px) and (max-width: 480.9px){
    .featured_projects .wrapper .featured_projects_box{
        padding: 50px 10px;
       }
    .featured_projects .wrapper .featured_projects_box .image.desk_top{
        height: 600px;
      }
}