
 /* *
    css style for global sections and sections titles */
    .my_services,
    .my_design_and_development_process,
    .featured_projects,
    .about_me,
    .testimonial,
    .call-to_action,
    .contact_me,
    .footer_container{
       padding-block: 100px;
    }
    .my_services .title,
    .my_design_and_development_process .title,
    .featured_projects .title,
    .about_me .title,
    .testimonial .title,
    .call-to_action .title{
     display: flex;
     grid-column-gap: 20px;
     width: 100%;
     height: auto;
     padding-left: 10px;
     padding-bottom: 50px;
    }
    .my_services .title .star_icon,
    .my_design_and_development_process .title .star_icon,
    .featured_projects .title .star_icon,
    .about_me .title .star_icon,
    .testimonial .title .star_icon,
    .call-to_action .title .star_icon{
     width: 20px;
     height: 20px;
     background-image: url('./assest//develop_process_icon_black.svg');
     background-repeat: no-repeat;
     background-size: 20px;
    }
    .toggle_color .my_services .title .star_icon,
    .toggle_color .my_design_and_development_process .title .star_icon,
    .toggle_color .featured_projects .title .star_icon,
    .toggle_color .about_me .title .star_icon,
    .toggle_color .testimonial .title .star_icon{
     background-image: url('./assest//develop_process_icon_white.svg');
    }
    .box_index_number_wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     left: 0px;
     transform: translatex(-50%);
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background-color: var(--regular-color);
    }
    .toggle_color .box_index_number_wrapper{
     background-color: #fff;
    }
    .box_index_number_wrapper .number{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     width: 40px;
     height: 40px;
     color: #fff;
     border: 2px solid #fff;
     border-radius: 50%;
    }
     /* end of css style for global sections and sections titles */



     /* *
     css styling for global rounded border image*/
    .about_me .about_content_wrapper .image,
    .about_me .about_content_wrapper .text .experience_data >div .number,
    .footer_nav_list{
     position: relative;
     border: 1px solid transparent;
     background: var(--regular-color);
     background-clip: padding-box;
     border-radius: 40px;
  }
  .toggle_color .about_me .about_content_wrapper .image,
  .toggle_color .about_me .about_content_wrapper .text .experience_data >div .number,
  .toggle_color .footer_nav_list{
     background-color: #fff;
   }
   .about_me .about_content_wrapper .image::after,
   .about_me .about_content_wrapper .text .experience_data >div .number::after,
   .footer_nav_list::after{
     position: absolute;
     top: -1px;
     right: -1px;
     left: -1px;
     bottom: -1px;
     content: '';
     background: linear-gradient(240deg,  var(--primary-color), var(--secondary-color));
     border-radius: inherit;
     z-index: -1;
    }
     /* end of css styling for global rounded border image*/



 /* *
    css style for home hero section*/
  .home_hero_section{
    padding: 0  !important;
  }
  .home_hero_grid_design{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 90%;
  }
  .home_hero_grid_design .grid_box{
    border: 1px solid var(--auxilary-color);
  }
  .toggle_color .home_hero_grid_design .grid_box{
    border-color: var(--regular-color);
  }
  .home_hero_grid_design .grid_box.remove_right_border{
    border-right: 0;
  }
  .home_hero_grid_design .grid_box.remove_left_border{
    border-left: 0;
  }
  .home_hero_grid_design .grid_box.remove_bottom_border{
    border-bottom: 0;
  }
  .home_hero_grid_design .grid_box.add_star{
    position: relative;
  }
  .home_hero_grid_design .grid_box.add_star::after{
    position: absolute;
    top: 0;
    left: -1px;
    transform: translate(-50%);
    content: ' ';
    width: 30%;
    height: 30%;
    background-image: url('./assest/herostrarwhite.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .toggle_color .home_hero_grid_design .grid_box.add_star::after{
    background-image: url('./assest/herostrarblack.svg');
  }
  .home_hero_grid_design .grid_box.add_star.one::after{
    bottom: -18%;
  }
  .home_hero_grid_design .grid_box.add_star.two::after{
    top: -18%;
  }
  .home_hero_grid_design .grid_box.bigger_box{
    position: relative;
    grid-area: 4 span / 4 span;
    border: 0;
  }
  .home_hero_grid_design .grid_box.bigger_box::after,
  .home_hero_grid_design .grid_box.bigger_box::before{
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    margin: -.8px;
    background-image: linear-gradient(240deg, var(--secondary-color), var(--primary-color));
    z-index: -1;
  }
  .home_hero_grid_design .grid_box.bigger_box::after{
    left: 0;
    right: 100%;
  }
  .home_hero_grid_design .grid_box.bigger_box::before{
    left: 100%;
    right: 0;
  }
  .home_hero_grid_design .grid_box.bigger_box .content{
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-left: 20px;
  }
  .home_hero_grid_design .grid_box.bigger_box .content > div h2{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    white-space: pre;
  }
  .home_hero_grid_design .grid_box.bigger_box .content > div h2 .greetings{
    font-style: italic;
    font-size: 16px;
    white-space: pre;
  }
  .home_hero_grid_design .grid_box.bigger_box .content > div h2 .name{
    font-size: 24px;
    white-space: pre;
  }
  .home_hero_grid_design .grid_box.bigger_box .content .second_into_text{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
  .home_hero_grid_design .grid_box.bigger_box .content > div h1{
    font-weight: bold;
  }
  .home_hero_grid_design .grid_box.bigger_box .content > div p{
    text-align: center;
    font-family:  var(--regular-font);
  }
  .home_hero_grid_design .grid_box.bigger_box .content .hero_btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_curosel_slider_section{
    position: relative;
    height: 9.5%;
    border: 1px solid var(--auxilary-color);
    border-right: 0;
    border-left: 0;
  }
  .toggle_color .home_curosel_slider_section{
    border-color: var(--regular-color);
  }
  .home_curosel_slider_section::before{
    display: flex;
    align-items: center;
    position: absolute;
    content: 'skills';
    font-family: var(--secondary-font);
    font-size: 22px;
    letter-spacing: 1.5px;
    color: var(--text-color);
    height: 100%;
    padding-left: 5px;
    padding-right: 10px;
    background-color: var(--regular-color);
    z-index: 1;
  } 
  .toggle_color .home_curosel_slider_section::before{
    color: #333333;
    background-color: #fff ;
  } 
  /* end of css style for home hero section*/



   /* * 
     css style for about me section */
     .about_me .about_content_wrapper{
        justify-content: center;
        grid-gap: 30px;
     }
     .about_me .about_content_wrapper .image{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        max-height: 380px;
     }
     .about_me .about_content_wrapper .image img{
        height: 100%;
        object-fit: cover;
     }
     .about_me .about_content_wrapper .text{
       flex: 2 0;
       display: flex;
       flex-direction: column;
       grid-row-gap: 30px;
       text-align: center;
      }
      .about_me .about_content_wrapper .text .experience_data{
        display: flex;
        justify-content: center;
        grid-column-gap: 35px;
       }
       .about_me .about_content_wrapper .text .experience_data >div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-row-gap: 6px;
       }
       .about_me .about_content_wrapper .text .experience_data >div .number{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2px;
        width: 50px;
        height: 60px;
        margin-left: -5px;
       }
       .about_me .about_content_wrapper .text .experience_data >div .text{
        text-align: start;
        line-height: 20px;
      }
     /* end of css style for about me section */

     

    /**  
    css style for testimonial section */
    .testimonial .wrapper{
      width: 100%;
      grid-gap: 30px;
      padding-right: 200px;
    }    
    /* end of css for testimonial section*/


    /* *
      css style for call to action section */
      .call-to_action{
        background-image: url("./assest/call_to_action_white.svg");
        background-repeat: no-repeat;
        background-position-x: 65cqmax;
        background-position-y: center;
        background-size: 320px;
      }
      .toggle_color  .call-to_action{
        background-image: url("./assest/call_to_action_black.svg");
      }
      .call-to_action .wrapper{
        display: flex;
        flex-direction: column;
        grid-row-gap: 40px;
        width: 100%;
        padding-left: 10px;
      }
      .call-to_action .wrapper .text{
        display: flex;
        flex-direction: column;
        grid-row-gap: 10px;
      }
      .call-to_action .wrapper .text p{
        max-width: 480px;
        background-color: var(--regular-color);
      }
      .toggle_color  .call-to_action .wrapper .text p{
        background-color: #fff;
      }
      /* end of css style for call to action scetion */


      /* *
        css style for contact me section */
        .contact_me .wrapper{
          grid-row-gap: 100px;
          grid-column-gap: 20px;
        }
        .contact_me .wrapper >div{
          position: relative;
          padding-block: 40px;
          padding-inline: 10px;
          background-color: rgba(16, 17, 17, 1);
          border-radius: 10px;
          z-index: 1;
        }
        .toggle_color .contact_me .wrapper >div{
          background-color: rgb(236, 236, 236);
        }
        .contact_me .form_container{
          flex: 1.5 0;
          display: flex;
          align-items: center;
        }
        .contact_me .map_container{
          flex: 1 0;
        }
        /* end of css style for contact me section */


        /* *
          css style for footer section */
          .footer_container {
            grid-gap: 40px;
            padding-bottom: 10px;
          }
          .footer_container .wrapper{
            align-items: center;
            grid-row-gap: 50px;
            grid-column-gap: 30px;
          }
          .footer_container .wrapper .footer_logo_container{
            display: block;
            display: flex;
            width: 100px;
            height: 70px;
            background-image: url("./assest//henry\'slogo_light.svg");
            background-repeat: no-repeat;
            background-size: 80px;
            background-position: flex-start;
            cursor: pointer;
          }
          .toggle_color .footer_container .wrapper .footer_logo_container{
            background-image: url("./assest/henry\'slogo_dark.svg");
          }
          .footer_container .wrapper .footer_nav{
            flex: 1 0;
            grid-column-gap: 30px;
            grid-row-gap: 50px;
          }
          .footer_nav .footer_nav_wrapper{
            flex: 2 0;
            display: flex;
            justify-content: flex-end;
          }
          .footer_nav_list{
            display: inline-flex;
            justify-content: space-between;
            grid-column-gap: 30px;
            list-style: none;
            padding-inline: 20px;
            padding-block: 10px;
          }
          .footer_nav_list li{
            cursor: pointer;
          }
          .footer_bnt_wrapper{
            flex: 1 0;
            display: flex;
            justify-content: flex-end;
            grid-column-gap: 30px;
          }
          .footer_container .copy_right{
            padding-left: 1px;
          }
          .copy_right p{
            font-size: 10px;
          }
        /* end of css style for footer section */


  /*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024.9px){
  .testimonial .wrapper{
    padding-right: 50px;
  } 
  
}

/*low resolution tablets, mobiles (portrait)*/
@media (min-width: 481px) and (max-width: 767.99px){
  .testimonial .wrapper{
    padding-right: 0px;
  } 

  .call-to_action{
    background-position-x: right;
  }
    
}

/*smartphones mobiles (portrait)*/
@media (min-width: 0px) and (max-width: 480.9px){

    .home_hero_grid_design{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
    .home_hero_grid_design .grid_box.bigger_box{
        grid-area: 3 span / 4 span;
      }
      .home_hero_grid_design .grid_box.is_display{
        display: none;
      }


    .home_hero_grid_design .grid_box.bigger_box .greetings{
        font-size: 14px;
      }
      .home_hero_grid_design .grid_box.bigger_box .name{
        font-size: 18px;
      }


      .testimonial .wrapper{
        padding-right: 30px;
      } 


      .call-to_action{
        background-position-x: right;
      }


      .footer_nav .footer_nav_wrapper{
        justify-content: flex-start;
      }
      .footer_bnt_wrapper{
        justify-content: flex-start;
      }
}